@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    color: #fff;
    background-image: url("images/back_image.jpeg"); 
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#iframe-container {
    width: 73vw;
    height: 74vh;
    margin-top: 60px;
    margin-left: 14%;
    position: relative;
    /* border-radius: 10px; */
    box-shadow: 0 50px 90px rgba(0, 0, 0, 0.5);
    position: relative;
    background-image: url('images/landscape.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: auto; 
    z-index: 1;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-top: 65px;
    white-space: nowrap;
}

.grad1 { background: linear-gradient(45deg, #f96767, #fdaf62); }  
.grad2 { background: linear-gradient(45deg, #ff9933, #ffdd33); }  
.grad3 { background: linear-gradient(45deg, #ffdd33, #66ff66); } 
.grad4 { background: linear-gradient(45deg, #66ff66, #33ccff); }  
.grad5 { background: linear-gradient(45deg, #33ccff, #6666ff); } 

.grad1, .grad2, .grad3, .grad4, .grad5 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: bounce 1.5s infinite alternate ease-in-out, colorChange 3s infinite alternate;
}

@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes colorChange {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

.grad1 { animation-delay: 0s; }
.grad2 { animation-delay: 0.2s; }
.grad3 { animation-delay: 0.4s; }
.grad4 { animation-delay: 0.6s; }
.grad5 { animation-delay: 0.8s; }

button {
    font-size: 1.2rem;
    font-family: 'Fredoka One', cursive;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, #ff6b6b, #ffcc5c);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background 0.3s;
    width: 200px;
    word-wrap: break-word;
    text-align: center; 
    white-space: normal;
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #ffcc5c, #ff6b6b);
}

#refresh-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#refresh-btn {
    font-size: 1.2rem;
    padding: 10px 15px;
    background-color: #ffcc5c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#refresh-btn:hover {
    background-color: #ff6b6b;
}

#game-list-left, #game-list-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
}

#game-list-left {
    left: 10px;
}

#game-list-right {
    right: 10px;
}

#game-list-left.moved-left, #game-list-right.moved-left {
    transform: translateX(-100%);
}

#game-list-left.moved-right, #game-list-right.moved-right {
    transform: translateX(100%);
}
